<div class="container">
    <div class="row">
        <div class="col-md-6">

            {{#each burgers}}
            {{#unless this.devoured}}
            <div>
                <li class="notdevoured">{{this.id}}. {{this.burger_name}} # {{this.devoured}}
                 <button class="btn btn-danger eat-burger" data-id={{this.id}}>DEVOUR!</button></li>
            </div>
            {{/unless }}

            {{#if this.devoured}}
            <div>
                <li class="devoured">{{this.id}}. {{this.burger_name}} # {{this.devoured}}
            </div>
            {{/if }}

            {{/each}}



        <div class="col-md-12">
            <form class="burger-form">
                <div class="form-group">
                    <label for="burger-name">Burger: </label>
                    <input type="burger-name" class="form-control" id="burger-name">
                </div>
                <button type="submit" class="btn btn-primary">Submit Burger</button>
            </form>
        </div>
    </div>
</div>